@media (max-width: 575.98px) {
        
}

@media (min-width: 576px) and (max-width: 767.98px) {
    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
}

@media (min-width: 992px) and (max-width: 1299.98px) {
    
}

@media (min-width: 1300px) and (max-width: 1531.98px){
    
}
  
@media (min-width: 1532px) and (max-width: 2499.99px) {
    
}

@media (min-width: 2500px) {
    
}

@media (max-width: 320px) {
    
}

@media (min-width: 321px) and (max-width: 376px) {
    
}