/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.poster {
        width: 100%;
    }

    .timings {
        margin-top: 50px;
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.poster {
        width: 70%;
    }

    .timings {
        margin-top: 50px;
        width: 100%;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.poster {
        width: 70%;
    }

    .timings {
        margin-top: 50px;
        width: 70%;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1441.98px){
	.poster {
        width: 55%;
    }

    .timings {
        width: 45%;
    }
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1442px) and (max-width: 2499.99px) {
   
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}