.top-videos{
	padding:165px 0;
	padding-bottom: 110px;
	background-color: #1F212D;
}
.title_w {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.title_w h2 {
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 80px;
	font-weight: 700;
}
.title_w h2 span{
	color: #4DAAF0;
	padding: 0 12px;
}

.video_item iframe{
	width: 95%;
	height:500px;
}

.video_con h3 {
	margin-bottom: 42px;
}

.video_con ul {
	margin-top: 42px;
}
.video_con ul li {
	padding-left: 26px;
	position: relative;
}
.video_con ul li::before {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #FFF;
	border-radius: 50px;
	left: 0;
	top: 10px;
}

.owl-next, .owl-prev {
    position: absolute;
    height: 20%;
    top: 50%;
    width: 40px;
    background: rgba(255,255,255,0.4) !important;
    margin: 0 !important;
}

.owl-next i, .owl-prev i{
	font-size: 31px !important;
	color: #000 !important;
}
.owl-next{
	right: 0;

}
.owl-prev{
	left: 0;
}

.owl-next, .owl-prev {
    background: transparent !important;
}

.owl-theme .owl-nav [class*='owl-'] {
    font-size: 100px !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.video_con {
		width: 80%;
		padding-top: 50px;
	}

	.owl-nav {
		display: none;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.video_con {
		width: 75%;
		padding-top: 100px;
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.video_con {
		width: 75%;
		padding-top: 100px;
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    .video_con {
		width: 75%;
		padding-top: 50px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1532px) and (max-width: 2499.99px) {
  
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}