.footer {
    padding: 3.125rem 0;
    padding-bottom: 0;
    position: relative;
    &:after{
        position: absolute;
        z-index: 999;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: .1rem;
        background: linear-gradient(50deg, #EE1E26 25%, #F7C514 100%);
    }
    .call-to-act{
        a{
            background: transparent;
            margin: 0 0.9rem;
            padding: 0;
            border-radius: 0.625rem;
            i{
                font-size: 2.5rem;
                color: var(--primary-color);
                transition: 200ms ease-in-out;
            }
        }
    }
    .roles {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-top: 5rem;
        @media (max-width: 991.98px) {
            display: inline-block;
        }
        .roles-details {
            flex: 1 0 auto;
            @media (max-width: 575.98px) {
                width: 50%;
                display: inline-grid;
            }
            @media (min-width: 576px) and (max-width: 991.98px) {
                width: 33%;
                display: inline-grid;
            }
            ul{
                li{
                    a{
                        width: 100%;
                        display: inline-block;
                        line-height: 2rem;
                        color: hsla(0,0%,100%,.75);
                        text-decoration: none;
                        transition: color .2s ease;
                        &:hover{
                            color: wheat;
                        }
                    }
                }
            }
        }
    }
    .footer-rights {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 991.98px) {
            display: inline-block;
            padding-top: 1.875rem;
            text-align: center;
        }
        .footer-copyright {
            @media (max-width: 991.98px) {
                text-align: center;
            }
        }
        .footer-rights-link{
            ul {
                display: inline-flex;
                @media (max-width: 575.98px) {
                    display: inline-block;
                }
                li {
                    position: relative;
                    padding: 0 .4rem;
                    a{
                        &:hover{
                            color: white !important;
                        }
                    }
                }
            }
        }
    }
    .credit{
        img{
            width: 10rem;
        }
    }
}