.header-bg{
    background-color: var(--main-color);
    @media (max-width: 575.98px) {
        height: 5rem;
    }
    .logo {
        position: absolute;
        left: 0;
        top: 0.6rem;
        z-index: 99;
        // @media (max-width: 575.98px) {
        //     left: 0;
        // }
        // @media (min-width: 576px) and (max-width: 767.98px) {
        //     left: -15%;
        // }
        // @media (min-width: 768px) and (max-width: 991.98px) {
        //     left: 0%;
        // }
        // @media (min-width: 992px) and (max-width: 1199.98px) {
        //     left: 39%;
        // }
        a{
            img {
                transition: 0.3s ease-out;
                @media (max-width: 575.98px) {
                    width: 65%;
                }
                @media (min-width: 768px) and (max-width: 991.98px) {
                    width: 90%;
                }
                @media (min-width: 992px) and (max-width: 1199.98px) {
                    width: 90%;
                }
                &:hover {
                    transform: translateY(0.6rem);
                }
            }
        }
        .navbar-brand{
            span {
                color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $type;
                @media (max-width: 575.98px) { 
                    position: relative;
                    top: 0.7rem;
                    -webkit-text-stroke-width: 1px;
                }
                @media (min-width: 576px) and (max-width: 1531.98px) {
                    position: relative;
                    top: 0.5rem;
                }
            }
        }
    }
    #navigation {
        opacity: 1;
        transition: left 0.3s ease-in-out;
        width: 100%;
        height: auto;
        position: fixed;
        z-index: 99;
        ul{
            li{
                width: 75%;
                margin: 0 auto;
                font-size: 1.5rem;
                margin-top: 1.5rem;
                text-align: left;
                transition: all .15s ease;
                border-bottom: 1px solid #aebaf8;
                @media (max-width: 575.98px) {
                    width: 80%;
                }
                @media (max-width: 1441.98px){
                    margin-top: 0.6rem;
                }
                a {
                    color: var(--hero-strip);
                    cursor: pointer;
                    &:hover {
                        color: $secondary;
                        z-index: 1;
                    }
                }
                &:after {
                    content: "";
                    position: relative;
                    top: 1.5rem;
                    display: block;
                    width: 0%;
                    height: 1px;
                    background-color: var(--complement-color);
                    transition: width .2s ease,right .2s ease;
                }
                &:hover:after {
                    width: 100%;
                }
                // &:first-child {
                //     @media (max-width: 320rem) {
                //         font-size: 0.75rem;
                //     }
                //     @media (min-width: 321px) and (max-width: 376px) {
                //         font-size: 0.8rem;
                //     }
                // }
                // &:last-child {
                //     padding-top: 0.6rem;
                //     font-size: 1rem;
                //     border-bottom: none;
                //     @media (max-width: 320rem) {
                //         font-size: 0.75rem;
                //     }
                //     @media (min-width: 321px) and (max-width: 376px) {
                //         font-size: 0.8rem;
                //     }
                // }
                // &:last-child:hover:after {
                //     width: 0%;
                // }
            }
            .backgrounColorToggle{
                @media (max-width: 320rem) {
                    margin-left: 18% !important;
                }
                svg {
                    rect {
                        fill: var(--complement-color);
                    }
                    .bottom {
                        y: 60 !important;
                    }
                }
            }
        }
        #menu {
            width: 6.25rem;
            height: calc(100% - 70px);
            border: dotted 2px;
            display: block;
            align-items: flex-end;
            justify-content: space-around;
        }
        .menu {
            width: 31.2rem;
            height: 100vh;
            background-color: var(--hero-strip);
            position: absolute;
            top: 0px;
            left: -62.5rem;
            @media (max-width: 1199.98px) {
                width: 25rem;
            }
        }
        .show {
            /* background-color: var(--main-color); */
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 11.25rem;
            transition: left .4s ease-in-out;
            border-right: 2px solid $accent;
            background: #00000099;
            box-shadow: 0px 3px 6px #0000001a;
            backdrop-filter: blur(0.3rem);
            /* max-height: calc(100vh - 2px);
            overflow-y: auto; */
            @media (max-width: 1199.98px) {
                padding-top: 6.25rem;
            }
        }
    }
    #hamburger {
        margin-left: 2%;
        border: none;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        position: fixed;
        @media (max-width: 575.98px) {
            right: 5%;
        }
        @media (min-width: 992px) and (max-width: 1199.98px) {
            margin-left: 1%;
        }
        &:hover {
            cursor: pointer;
        }
        p {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
        }
        rect {
            fill: var(--complement-color);
            transition: transform 0.3s ease;
            @-webkit-keyframes fill {
                0% {
                  width: 0%;
                  height: .0.3rem;
                }
                50% {
                  width: 100%;
                  height: 1.5px;
                }
                100% {
                  width: 100%;
                  height: 1.5px;
                  background: #333;
                }
            }
        }
        .top {
            transform: translateX(17px) rotate(45deg) translateY(-0.6px);
            transition: transform 0.3s ease;
        }
        
        .middle {
            transform: scale(0);
            transition: transform 0.3s ease;
        }
        
        .bottom {
            transform: rotate(-45deg) translateX(-40px) translateY(-0.6px);
            transition: transform 0.3s ease;
        }
    }
    .menuToggle {
        display: block;
        width: 11.25rem;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

#ribbon{
	position: absolute;
	top: 0px;
	width: 5.625rem;
	height: 8.4rem;
	text-indent: -666em;
	overflow: hidden;
	z-index: 9999;
	-webkit-transition: all 1s ease;
    transition: all 1s ease;
    .top{
        top: 0px;
    }
    .left{
        left: 0;
    }
    .right{
        left: 0;
    }
    a{
        /* position: fixed; */
        background-image: url(../img/ribbonnsuac.png);
        top: 0;
        left: 0;
        display: block;
        width: 5.625rem;
        height: 5.625rem;
        background-repeat: no-repeat;
        background-size: 5.625rem 5.625rem;
        z-index: 9999;
    }
}

.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.75) !important;
}