.hero{
    position: relative;
	height: 78.125rem;
	background-image: url(../img/bg.svg)!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
    cursor: pointer;
    @media (max-width: 575.98px) {
        height: 110rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        height: 70rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 80rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        height: 75rem;
    }
    @media (max-width: 320px) {
        height: 110rem;
    }
    @media (min-width: 321px) and (max-width: 376px) {
        height: 110rem;
    }
    .hero-parallax{
        position: absolute;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transition: all .1s ease-in;
        @media (max-width: 991.98px) {
           display: none;
        }
        .layers{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .hero-contents{
        position: relative;
        .presents{
            margin-left: 1.8rem;
            @media (max-width: 575.98px) {
                margin-left: 1rem;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                margin-left: 6rem;
            }
            @media (min-width: 992px) and (max-width: 1299.98px) {
                margin-left: 6rem;
            }
            @media (min-width: 1300px) and (max-width: 1531.98px){
                margin-left: 13.4rem;
            }
            @media (max-width: 320px) {
                margin-left: 1.5rem;
            }
            @media (min-width: 321px) and (max-width: 376px) {
                margin-left: 2rem;
            }
        }
        h1 {
            font-size: 3.5rem;
            line-height: .9;
            text-transform: uppercase;
            @media (max-width: 575.98px) {
                line-height: 1.2;
            }
            span {
                color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--hero-strip);
                @media (max-width: 575.98px) {
                    -webkit-text-stroke-width: 1px;
                }
            }
        }
        .loc-date{
            span {
                margin-right: 1.875rem;
                @media (max-width: 575.98px) {
                    display: block;
                }
            }
        }
        #timer {
            width: 100%;
            margin: 0 auto;
            .time {
                width: 25%;
                font-weight: 500;
                border: 1px solid rgba(255, 255, 255, 0.1);
                background-color: var(--main-color);
                margin: 0 0.25rem;
                border-radius: 0.25rem;
                padding-bottom: 0.625rem;
                -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
                -ms-transform: matrix(1, 0.3, 0, 1, 0, 0);
                transform: matrix(1, 0.3, 0, 1, 0, 0);
                text-align: center;
                span {
                    display: block;
                    text-transform: uppercase;
                }
            }
        }
    
        .host{
            img{
                max-width: 25rem;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                overflow: hidden;
                @media (min-width: 576px) and (max-width: 767.98px) {
                    max-width: 20rem;
                }
            }
        }
    }
}