.hero{
	height: 78.125rem;
	background-image: url(../img/bg.svg)!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
    @media (max-width: 575.98px) {
        height: 65.625rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        height: 68.75rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        height: 70.625rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        height: 1120px;
    }
    @media (max-width: 320px) {
        height: 70rem;
    }
    @media (min-width: 321px) and (max-width: 376px) {
        height: 58.75rem;
    }
    h1 {
        line-height: .9;
        text-transform: uppercase;
        @media (max-width: 575.98px) {
            line-height: 1.2;
        }
        span {
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--hero-strip);
            @media (max-width: 575.98px) {
                -webkit-text-stroke-width: 1px;
            }
        }
    }
    .loc-date{
        span {
            margin-right: 1.875rem;
            @media (max-width: 575.98px) {
                display: block;
            }
        }
    }
    #timer {
        width: 100%;
        margin: 0 auto;
        .time {
            width: 25%;
            font-weight: 500;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background-color: var(--main-color);
            margin: 0 0.25rem;
            border-radius: 0.25rem;
            padding-bottom: 0.625rem;
            -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
            -ms-transform: matrix(1, 0.3, 0, 1, 0, 0);
            transform: matrix(1, 0.3, 0, 1, 0, 0);
            text-align: center;
            span {
                display: block;
                text-transform: uppercase;
            }
        }
    }

    .host{
        img{
            max-width: 25rem;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            overflow: hidden;
            @media (max-width: 575.98px) {
                max-width: 100%;
            }
        }
    }
}