// @font-face {
//     font-family: Raleway;
//     src: url(../Fonts/Raleway.ttf);
// }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  
:root {
    --main-color: #2E303C;
    --type-color: #fff;
    --hero-strip: wheat;
    --primary-color: linear-gradient(50deg, #502DF9 25%, #F7C514 100%);
    --complement-color: #F7C514;
    --secondary-color: #502DF9;
}

$main: var(--main-color);
$type: var(--type-color);
$strip: var(--hero-strip);
$primary: var(--primary-color);
$accent: var(--complement-color);
$secondary: var(--secondary-color);
$ff1: 'Poppins', sans-serif;
$ff2: 'Righteous', sans-serif;

// @mixin fontMaker($family, $case) {
//     font-family: $family;
//     text-transform: $case;
// }
  