@import './variables';
@import './hero';
@import './header';
@import './achievements';
@import './map';
@import './greetings';
@import './teaser';
@import './footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    @media (max-width: 375.5px) {
        font-size: 10px;
    }
    @media (min-width: 376px) and (max-width: 575.98px) {
        font-size: 12px;
    }
    @media (min-width: 576px) and (max-width: 1531.98px) {
        font-size: 12px;
    }
    @media (min-width: 2500px) {
        font-size: 18px;
    }
}


body {
    font-family: $ff1;
    color: $type !important;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}
a{
	margin:0;
	text-decoration: none;
}
a:hover{
	text-decoration:none !important;
}

a, select , input , textarea , button{
	outline: none !important;
}

.c_custom{
    max-width: 106.25rem !important;
}

/* colors */
.c-tag-1{
    color: $main !important;
}

.c-tag-2{
    color: $type !important;
}

.c-tag-3{
    color: #7e7e7e !important;
}

.c-tag-4{
    color: $strip !important;
}

.c-tag-5{
    color: $primary !important;
}

/* bg */
.bg-tag-1{
    background-color: $primary !important;
}

.bg-tag-2{
    background-color: $main !important;
}

/* fonts */
.lit-16{
    font-size: 1rem;
    font-weight: 300;
}

.lit-18{
    font-size: 1.125rem;
    font-weight: 300;
}

.lit-20{
    font-size: 1.25rem;
    font-weight: 300;
    // @media (max-width: 575.98px) {
    //     font-size: 1rem;
    // }
    // @media (max-width: 320px) {
    //     font-size: 0.6875rem;
    // }
    // @media (min-width: 321px) and (max-width: 376px) {
    //     font-size: 0.75rem;
    // }
}

.lit-32{
    font-size: 2rem;
    font-weight: 300;
    @media (max-width: 575.98px) and (max-width: 1299.98px) {
        font-size: 1.5rem;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 1.875rem;
    }
}

.medi-14 {
    font-size: 0.875rem;
    font-weight: 500;
}

.medi-20{
    font-size: 1.25rem;
    font-weight: 500;
}

.semi-28{
    font-size: 1.75rem;
    font-weight: 600;
    @media (max-width: 575.98px) {
        font-size: 1.5rem;
    }
    @media (max-width: 320px) {
        font-size: 1.25rem;
    }
}

.semi-18{
    font-size: 1.125rem;
    font-weight: 600;
}

.medi-30{
    font-size: 1.875rem;
    font-weight: 500;
    @media (max-width: 767.98px) {
        font-size: 1.25rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.5rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 1.625rem;
    }
    @media (max-width: 320px) {
        font-size: 1rem;
    }
    @media (min-width: 321px) and (max-width: 376px) {
        font-size: 1.125rem;
    }
}

.medi-40{
    font-size: 2.5rem;
    font-weight: 500;
    @media (max-width: 575.98px) {
        font-size: 1.75rem;
    }
    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 2.125rem;
    }
    @media (max-width: 320px) {
        font-size: 1.625rem;
    }
}

.medi-50{
    font-size: 3.125rem;
    font-weight: 500;
}

.semi-40{
    font-size: 2.5rem;
    font-weight: 600;
    @media (max-width: 575.98px) {
        font-size: 1.875rem;
    }
    @media (min-width: 576px) and (max-width: 991.98px) {
        font-size: 2.125rem;
    }
}

.bold-140{
    font-family: $ff2;
    font-size: 8.75rem;
    font-weight: 700;
    @media (max-width: 575.98px) {
        font-size: 2.5rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        font-size: 4.25rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 5rem;
    }
    @media (min-width: 992px) and (max-width: 1299.98px) {
        font-size: 5.25rem;
    }
    @media (min-width: 1300px) and (max-width: 1531.98px){
        font-size: 6.25rem;
    }
}

.pt-150{
    padding-top: 5rem;
}

.pt-200{
	padding-top: 12.5rem;
}

.pt-300{
	padding-top: 18.75rem;
    @media (max-width: 575.98px) {
        padding-top: 12.5rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
        padding-top: 12.5rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        padding-top: 13.125rem;
    }
}

.pb-50{
	padding-bottom: 3.125rem;
}

.pb-200{
	padding-bottom: 12.5rem;
}

.mt-200{
	margin-top: 12.5rem;
}

.mt-50 {
    margin-top: 3.125rem;
}

.mt-150 {
    margin-top: 13.125rem;
    @media (max-width: 575.98px) {
        margin-top: 3.125rem;
    }
}

.mt-100 {
    margin-top: 6.25rem;
}

.call-to-act {
    a{
        position: relative;
        color: $type;
        text-decoration: none;
        border-color: $primary;
        background-color: $primary;
        background: $primary;
        padding: 1rem 3rem;
        &:hover{
            color: $type;
            text-decoration: none;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            right: -0.125rem;
            display: inline-block;
            border: 0.25rem solid transparent;
            width: 0.625rem;
            height: 0.625rem;
            z-index: 1;
            border-right-color: $accent;
            border-bottom-color: $accent;
            transition: 0.2s 0.4s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s border-top-color;
        }
        &:hover::before, &:hover::after {
            border-right-color: $accent;
            border-bottom-color: $accent;
            border-left-color: $accent;
            border-top-color: $accent;
            width: calc(100% + 0.25rem);
            height: calc(100% + 0.25rem);
            transition: 0.2s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s 0.4s border-top-color;
        }
    }

    .disabled{
        opacity: 0.5;
        cursor: not-allowed;
        &::before, &::after {
            opacity: 0;
        }
    }
}