@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
:root {
  --main-color: #2E303C;
  --type-color: #fff;
  --hero-strip: #F7C514;
  --primary-color: linear-gradient(50deg, #EE1E26 25%, #F7C514 100%);
  --complement-color: #F7C514;
  --secondary-color: #F5564E;
}

.hero {
  position: relative;
  height: 78.125rem;
  background-image: url(../img/bg.svg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .hero {
    height: 115rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero {
    height: 70rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero {
    height: 80rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .hero {
    height: 75rem;
  }
}

.hero .hero-parallax {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

@media (max-width: 991.98px) {
  .hero .hero-parallax {
    display: none;
  }
}

.hero .hero-parallax .layers {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero .hero-contents {
  position: relative;
}

.hero .hero-contents .presents {
  margin-left: 1.8rem;
}

@media (max-width: 575.98px) {
  .hero .hero-contents .presents {
    margin-left: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero-contents .presents {
    margin-left: 6rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .hero .hero-contents .presents {
    margin-left: 6rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .hero .hero-contents .presents {
    margin-left: 13.4rem;
  }
}

@media (max-width: 320px) {
  .hero .hero-contents .presents {
    margin-left: 1.5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .hero .hero-contents .presents {
    margin-left: 2rem;
  }
}

.hero .hero-contents h1 {
  font-size: 3.5rem;
  line-height: .9;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .hero .hero-contents h1 {
    line-height: 1.2;
  }
}

.hero .hero-contents h1 span {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--hero-strip);
}

@media (max-width: 575.98px) {
  .hero .hero-contents h1 span {
    -webkit-text-stroke-width: 1px;
  }
}

.hero .hero-contents .loc-date span {
  margin-right: 1.875rem;
}

@media (max-width: 575.98px) {
  .hero .hero-contents .loc-date span {
    display: block;
  }
}

.hero .hero-contents #timer {
  width: 100%;
  margin: 0 auto;
}

.hero .hero-contents #timer .time {
  width: 25%;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--main-color);
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  padding-bottom: 0.625rem;
  -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
  transform: matrix(1, 0.3, 0, 1, 0, 0);
  text-align: center;
}

.hero .hero-contents #timer .time span {
  display: block;
  text-transform: uppercase;
}

.hero .hero-contents .host img {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero-contents .host img {
    max-width: 20rem;
  }
}

.latest .ticker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  height: 3rem;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .latest .ticker {
    width: 100%;
    height: 3.5rem;
  }
}

.latest .news {
  width: 80%;
  background: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .latest .news {
    width: 70%;
  }
}

.latest .news marquee p span {
  margin-right: 10rem;
}

.latest .title {
  width: 20%;
  text-align: center;
  background: var(--secondary-color);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .latest .title {
    width: 30%;
  }
}

.header-bg {
  background-color: var(--main-color);
}

@media (max-width: 575.98px) {
  .header-bg {
    height: 5rem;
  }
}

.header-bg .logo {
  position: absolute;
  left: 0;
  top: 0.6rem;
  z-index: 99;
}

.header-bg .logo a img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media (max-width: 575.98px) {
  .header-bg .logo a img {
    width: 65%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .header-bg .logo a img {
    width: 90%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header-bg .logo a img {
    width: 90%;
  }
}

.header-bg .logo a img:hover {
  -webkit-transform: translateY(0.6rem);
          transform: translateY(0.6rem);
}

.header-bg .logo .navbar-brand span {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--type-color);
}

@media (max-width: 575.98px) {
  .header-bg .logo .navbar-brand span {
    position: relative;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
  }
}

@media (min-width: 576px) and (max-width: 1531.98px) {
  .header-bg .logo .navbar-brand span {
    position: relative;
    font-size: 2rem;
  }
}

.header-bg #navigation {
  opacity: 1;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 99;
}

.header-bg #navigation ul li {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: left;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  border-bottom: 1px solid #aebaf8;
}

@media (max-width: 575.98px) {
  .header-bg #navigation ul li {
    width: 80%;
  }
}

@media (max-width: 1441.98px) {
  .header-bg #navigation ul li {
    margin-top: 0.6rem;
  }
}

.header-bg #navigation ul li a {
  color: var(--hero-strip);
  cursor: pointer;
}

.header-bg #navigation ul li a:hover {
  color: var(--secondary-color);
  z-index: 1;
}

.header-bg #navigation ul li:after {
  content: "";
  position: relative;
  top: 1.5rem;
  display: block;
  width: 0%;
  height: 1px;
  background-color: var(--complement-color);
  -webkit-transition: width .2s ease,right .2s ease;
  transition: width .2s ease,right .2s ease;
}

.header-bg #navigation ul li:hover:after {
  width: 100%;
}

@media (max-width: 320rem) {
  .header-bg #navigation ul .backgrounColorToggle {
    margin-left: 18% !important;
  }
}

.header-bg #navigation ul .backgrounColorToggle svg rect {
  fill: var(--complement-color);
}

.header-bg #navigation ul .backgrounColorToggle svg .bottom {
  y: 60 !important;
}

.header-bg #navigation #menu {
  width: 6.25rem;
  height: calc(100% - 70px);
  border: dotted 2px;
  display: block;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-bg #navigation .menu {
  width: 31.2rem;
  height: 100vh;
  background-color: var(--hero-strip);
  position: absolute;
  top: 0px;
  left: -62.5rem;
}

@media (max-width: 1199.98px) {
  .header-bg #navigation .menu {
    width: 25rem;
  }
}

.header-bg #navigation .show {
  /* background-color: var(--main-color); */
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 11.25rem;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
  border-right: 2px solid var(--complement-color);
  background: #00000099;
  -webkit-box-shadow: 0px 3px 6px #0000001a;
          box-shadow: 0px 3px 6px #0000001a;
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  /* max-height: calc(100vh - 2px);
            overflow-y: auto; */
}

@media (max-width: 1199.98px) {
  .header-bg #navigation .show {
    padding-top: 6.25rem;
  }
}

.header-bg #hamburger {
  margin-left: 2%;
  border: none;
  position: absolute;
  z-index: 9999;
  background-color: transparent;
  position: fixed;
}

@media (max-width: 575.98px) {
  .header-bg #hamburger {
    right: 5%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .header-bg #hamburger {
    margin-left: 1%;
  }
}

.header-bg #hamburger:hover {
  cursor: pointer;
}

.header-bg #hamburger p {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header-bg #hamburger rect {
  fill: var(--complement-color);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 0 0.3rem;
  }
  50% {
    width: 100%;
    height: 1.5px;
  }
  100% {
    width: 100%;
    height: 1.5px;
    background: #333;
  }
}

.header-bg #hamburger .top {
  -webkit-transform: translateX(17px) rotate(45deg) translateY(-0.6px);
          transform: translateX(17px) rotate(45deg) translateY(-0.6px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-bg #hamburger .middle {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-bg #hamburger .bottom {
  -webkit-transform: rotate(-45deg) translateX(-40px) translateY(-0.6px);
          transform: rotate(-45deg) translateX(-40px) translateY(-0.6px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header-bg .menuToggle {
  display: block;
  width: 11.25rem;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#ribbon {
  position: absolute;
  top: 0px;
  width: 5.625rem;
  height: 8.4rem;
  text-indent: -666em;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#ribbon .top {
  top: 0px;
}

#ribbon .left {
  left: 0;
}

#ribbon .right {
  left: 0;
}

#ribbon a {
  /* position: fixed; */
  background-image: url(../img/ribbonnsuac.png);
  top: 0;
  left: 0;
  display: block;
  width: 5.625rem;
  height: 5.625rem;
  background-repeat: no-repeat;
  background-size: 5.625rem 5.625rem;
  z-index: 9999;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

@media (max-width: 320px) {
  .ReactModal__Overlay--after-open .ReactModal__Content--after-open {
    padding: 20px 0 !important;
  }
}

.teaser .teaser-video iframe {
  border-radius: .5rem;
  width: 100%;
  height: 27rem;
}

@media (max-width: 575.98px) {
  .teaser .teaser-video iframe {
    height: 15rem;
  }
}

.judges {
  padding: 5rem 0;
  background-color: #1F212D;
}

.judges h2 span {
  color: #4DAAF0;
  padding: 0 12px;
}

@media (max-width: 575.98px) {
  .judges .video_item {
    padding: 0 3rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .judges .video_item {
    padding: 0 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .judges .video_item {
    padding: 0 3rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .judges .video_item {
    padding: 0 3rem;
  }
}

@media (max-width: 575.98px) {
  .judges .video_con {
    width: 80%;
    padding-top: 3.125rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .judges .video_con {
    width: 75%;
    padding-top: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .judges .video_con {
    width: 75%;
    padding-top: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .judges .video_con {
    width: 75%;
    padding-top: 1.2rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .judges .video_con {
    width: 75%;
    padding-top: 3.125rem;
  }
}

.judges .owl-next, .judges .owl-prev {
  position: absolute;
  height: 20%;
  top: 50%;
  width: 2.5rem;
  background: rgba(255, 255, 255, 0.4) !important;
  background: transparent !important;
  margin: 0 !important;
}

.judges .owl-next i, .judges .owl-prev i {
  font-size: 1.9rem !important;
  color: #000 !important;
}

.judges .owl-next {
  right: 0;
}

.judges .owl-prev {
  left: 0;
}

.judges .owl-theme .owl-nav [class*='owl-'] {
  font-size: 6.25rem !important;
}

@media (max-width: 575.98px) {
  .judges .owl-nav {
    display: none;
  }
}

.cover {
  background-image: url(../img/cover.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 7rem;
}

@media (max-width: 575.98px) {
  .cover {
    height: 20rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .cover {
    height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .cover {
    height: 20rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .cover {
    height: 22rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .cover {
    height: 22rem;
  }
}

.program-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

.program-wrapper .teaser-video iframe {
  border-radius: .5rem;
  width: 100%;
  height: 32rem;
}

@media (max-width: 575.98px) {
  .program-wrapper .teaser-video iframe {
    height: 15rem;
  }
}

.video {
  background: -webkit-gradient(linear, left top, right top, color-stop(18%, white), color-stop(18%, #1F212D));
  background: linear-gradient(90deg, white 18%, #1F212D 18%);
}

.intro-video iframe {
  border-radius: 10px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .video {
    background: #1F212D;
  }
  .offset-into {
    margin-left: 0 !important;
  }
  .achieve-text::before, .achieve-text::after {
    right: 1.25rem;
  }
  .mt-200 {
    margin-top: 13.125rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .video {
    background: #1F212D;
  }
  .offset-into {
    margin-left: 0 !important;
  }
  .achieve-text::before, .achieve-text::after {
    right: 1.25rem;
  }
  .mt-200 {
    margin-top: 13.125rem;
  }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .video {
    background: #1F212D;
  }
  .offset-into {
    margin-left: 0 !important;
  }
  .achieve-text::before, .achieve-text::after {
    right: 1.25rem;
  }
  .mt-200 {
    margin-top: 13.125rem;
  }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .video {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, white), color-stop(5%, #1F212D));
    background: linear-gradient(90deg, white 5%, #1F212D 5%);
  }
  .offset-into {
    margin-left: 8.333333% !important;
  }
  .mt-200 {
    margin-top: 13.125rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1800px) {
  .video {
    background: -webkit-gradient(linear, left top, right top, color-stop(5%, white), color-stop(5%, #1F212D));
    background: linear-gradient(90deg, white 5%, #1F212D 5%);
  }
  .offset-into {
    margin-left: 8.333333% !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 31.25rem and below) *******/
/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
.trophy .achieve-text .mark {
  color: var(--type-color);
  background-color: var(--main-color) !important;
}

.trophy .achieve-text:before, .trophy .achieve-text:after {
  content: '';
  position: absolute;
  bottom: -2px;
  right: -2px;
  display: inline-block;
  border: 2px solid transparent;
  width: 10.625rem;
  height: 5rem;
  z-index: 1;
  border-right-color: var(--complement-color);
  border-bottom-color: var(--complement-color);
}

.big-img {
  background: url("../img/slider.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 45rem;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.big-img h2 {
  font-size: 22rem;
  line-height: .9;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .big-img h2 {
    font-size: 8rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .big-img h2 {
    font-size: 16rem;
  }
}

@media (max-width: 575.98px) {
  .big-img h2 {
    line-height: 1.2;
  }
}

.big-img h2 span {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--hero-strip);
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .big-img h2 span {
    -webkit-text-stroke-width: 1px;
  }
}

.big-img h2 span:hover {
  color: var(--hero-strip);
  -webkit-text-fill-color: var(--hero-strip);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: transparent;
  cursor: pointer;
}

.footer {
  padding: 3.125rem 0;
  padding-bottom: 0;
  position: relative;
}

.footer:after {
  position: absolute;
  z-index: 999;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  background: linear-gradient(50deg, #EE1E26 25%, #F7C514 100%);
}

.footer .call-to-act a {
  background: transparent;
  margin: 0 0.9rem;
  padding: 0;
  border-radius: 0.625rem;
}

.footer .call-to-act a i {
  font-size: 2.5rem;
  color: var(--primary-color);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.footer .roles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5rem;
}

@media (max-width: 991.98px) {
  .footer .roles {
    display: inline-block;
  }
}

.footer .roles .roles-details {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media (max-width: 575.98px) {
  .footer .roles .roles-details {
    width: 50%;
    display: -ms-inline-grid;
    display: inline-grid;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .footer .roles .roles-details {
    width: 33%;
    display: -ms-inline-grid;
    display: inline-grid;
  }
}

.footer .roles .roles-details ul li a {
  width: 100%;
  display: inline-block;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.footer .roles .roles-details ul li a:hover {
  color: wheat;
}

.footer .footer-rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 991.98px) {
  .footer .footer-rights {
    display: inline-block;
    padding-top: 1.875rem;
    text-align: center;
  }
}

@media (max-width: 991.98px) {
  .footer .footer-rights .footer-copyright {
    text-align: center;
  }
}

.footer .footer-rights .footer-rights-link ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 575.98px) {
  .footer .footer-rights .footer-rights-link ul {
    display: inline-block;
  }
}

.footer .footer-rights .footer-rights-link ul li {
  position: relative;
  padding: 0 .4rem;
}

.footer .footer-rights .footer-rights-link ul li a:hover {
  color: white !important;
}

.footer .credit img {
  width: 10rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 375.5px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 1531.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 2500px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--type-color) !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

a, select, input, textarea, button {
  outline: none !important;
}

.c_custom {
  max-width: 106.25rem !important;
}

/* colors */
.c-tag-1 {
  color: var(--main-color) !important;
}

.c-tag-2 {
  color: var(--type-color) !important;
}

.c-tag-3 {
  color: #7e7e7e !important;
}

.c-tag-4 {
  color: var(--hero-strip) !important;
}

.c-tag-5 {
  color: var(--primary-color) !important;
}

/* bg */
.bg-tag-1 {
  background-color: var(--primary-color) !important;
}

.bg-tag-2 {
  background-color: var(--main-color) !important;
}

/* fonts */
.lit-14 {
  font-size: 0.875rem;
  font-weight: 300;
}

.lit-16 {
  font-size: 1rem;
  font-weight: 300;
}

.lit-18 {
  font-size: 1.125rem;
  font-weight: 300;
}

.lit-20 {
  font-size: 1.25rem;
  font-weight: 300;
}

.lit-32 {
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 575.98px) and (max-width: 1299.98px) {
  .lit-32 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .lit-32 {
    font-size: 1.875rem;
  }
}

.medi-14 {
  font-size: 0.875rem;
  font-weight: 500;
}

.medi-20 {
  font-size: 1.25rem;
  font-weight: 500;
}

.medi-14 {
  font-size: 0.875rem;
  font-weight: 600;
}

.semi-28 {
  font-size: 1.75rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .semi-28 {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  .semi-28 {
    font-size: 1.25rem;
  }
}

.semi-18 {
  font-size: 1.125rem;
  font-weight: 600;
}

.medi-30 {
  font-size: 1.875rem;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .medi-30 {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .medi-30 {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .medi-30 {
    font-size: 1.625rem;
  }
}

@media (max-width: 320px) {
  .medi-30 {
    font-size: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .medi-30 {
    font-size: 1.125rem;
  }
}

.medi-40 {
  font-size: 2.5rem;
  font-weight: 500;
}

@media (max-width: 575.98px) {
  .medi-40 {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .medi-40 {
    font-size: 2.125rem;
  }
}

@media (max-width: 320px) {
  .medi-40 {
    font-size: 1.625rem;
  }
}

.medi-50 {
  font-size: 3.125rem;
  font-weight: 500;
}

.semi-40 {
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .semi-40 {
    font-size: 1.875rem;
  }
}

@media (min-width: 576px) and (max-width: 991.98px) {
  .semi-40 {
    font-size: 2.125rem;
  }
}

.bold-140 {
  font-family: "Righteous", sans-serif;
  font-size: 8.75rem;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .bold-140 {
    font-size: 2.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .bold-140 {
    font-size: 4.25rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bold-140 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .bold-140 {
    font-size: 5.25rem;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  .bold-140 {
    font-size: 6.25rem;
  }
}

.pt-150 {
  padding-top: 5rem;
}

.pt-200 {
  padding-top: 12.5rem;
}

.pt-300 {
  padding-top: 18.75rem;
}

@media (max-width: 575.98px) {
  .pt-300 {
    padding-top: 12.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .pt-300 {
    padding-top: 12.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pt-300 {
    padding-top: 13.125rem;
  }
}

.pb-50 {
  padding-bottom: 3.125rem;
}

.pb-200 {
  padding-bottom: 12.5rem;
}

.mt-200 {
  margin-top: 12.5rem;
}

.mt-50 {
  margin-top: 3.125rem;
}

.mt-150 {
  margin-top: 13.125rem;
}

@media (max-width: 575.98px) {
  .mt-150 {
    margin-top: 3.125rem;
  }
}

.mt-100 {
  margin-top: 6.25rem;
}

.call-to-act a {
  position: relative;
  color: var(--type-color);
  text-decoration: none;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  background: var(--primary-color);
  padding: 1rem 3rem;
}

.call-to-act a:hover {
  color: var(--type-color);
  text-decoration: none;
}

.call-to-act a::before, .call-to-act a::after {
  content: '';
  position: absolute;
  bottom: -0.125rem;
  right: -0.125rem;
  display: inline-block;
  border: 0.25rem solid transparent;
  width: 0.625rem;
  height: 0.625rem;
  z-index: 1;
  border-right-color: var(--complement-color);
  border-bottom-color: var(--complement-color);
  -webkit-transition: 0.2s 0.4s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s border-top-color;
  transition: 0.2s 0.4s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s border-top-color;
}

.call-to-act a:hover::before, .call-to-act a:hover::after {
  border-right-color: var(--complement-color);
  border-bottom-color: var(--complement-color);
  border-left-color: var(--complement-color);
  border-top-color: var(--complement-color);
  width: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  -webkit-transition: 0.2s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s 0.4s border-top-color;
  transition: 0.2s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s 0.4s border-top-color;
}

.call-to-act .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.call-to-act .disabled::before, .call-to-act .disabled::after {
  opacity: 0;
}

.mark {
  background-color: var(--hero-strip);
}
/*# sourceMappingURL=style.css.map */