.breadcrumb-item img{
    width: 20px;
}

.breadcrumb-item img, 
.breadcrumb-item span.lang-txt{
  display:inline-block;
  margin-left:5px;
  vertical-align:middle;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .campusStar .call-to-act a{
    font-size: 12px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1532px) and (max-width: 2499.99px) {
  
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
  .breadcrumb {
    padding: 0.75rem .5rem !important;
  }
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}