.hero{
	height: 1150px;
	background-image: url(../../img/bg.svg)!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
}

.hero h1 {
    line-height: .9;
    text-transform: uppercase;
}

.hero h1 span {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: wheat;
}

.hero p.loc-date {
    font-size: 18px;
}

.hero p.loc-date span {
    margin-right: 30px;
}

.hero p.loc-date i.fa {
    color: #502DF9;
}

#timer {
    width: 100%;
    margin: 0 auto;
}

#timer .time {
    width: 25%;
    font-size: 50px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #2E303C;
    /* background: linear-gradient(90deg, #c973ff 0%, #aebaf8 95%); */
    margin: 0 4px;
    border-radius: 4px;
    padding-bottom: 10px;
    -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.3, 0, 1, 0, 0);
    transform: matrix(1, 0.3, 0, 1, 0, 0);
	text-align: center;
}

#timer .time span {
	font-size: 20px;
	display: block;
	color: #502DF9;
	text-transform: uppercase;
}

.host img{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.hero {
        height: 980px;
    }

	#timer .time span {
		font-size: 16px;
	}

	.host img {
		max-width: 100%;
	}

    .hero p.loc-date span {
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.hero {
		height: 1030px;
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.hero {
		height: 1030px;
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.hero {
		height: 960px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
    .hero {
        height: 920px;
    }

    #timer .time span {
        font-size: 11px;
    }
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
    .hero {
        height: 940px;
    }

    #timer .time span {
        font-size: 12px;
    }
}