.paddi{
	padding-top: 200px;
}

.hero{
	height: 1200px;
	background-image: url(../../img/bg.svg)!important;
	background-position: center!important;
	background-repeat: no-repeat!important;
	background-size: cover!important;
}

.hero h1 {
    font-size: 140px;
    line-height: .9;
    font-weight: 700;
    text-transform: uppercase;
}

.hero h1 span {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}

.hero p.loc-date {
    font-size: 18px;
}

.hero p.loc-date span {
    margin-right: 30px;
}

.hero p.loc-date i.fa {
    color: #502DF9;
}

#timer {
    width: 100%;
    margin: 0 auto;
}

#timer .time {
    width: 25%;
    font-size: 50px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #2E303C;
    margin: 0 4px;
    border-radius: 4px;
    padding-bottom: 10px;
    -webkit-transform: matrix(1, 0.3, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0.3, 0, 1, 0, 0);
    transform: matrix(1, 0.3, 0, 1, 0, 0);
	text-align: center;
}

#timer .time span {
	font-size: 20px;
	display: block;
	color: #502DF9;
	text-transform: uppercase;
}

.host img{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}