.segment-item {
    padding: 20px;
}

.segment {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    background: transparent;
    transition: 0.3s ease-out;
    height: 100%;
    box-shadow: 0rem 0.2em 1rem #e8e8e8;
    cursor: pointer;
}

.segment:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 20px 0 rgb(0 0 0 / 10%);
}

.segment-img {
    width: 100%;
    height: auto;
    position: relative;
}

.segment-img img{
    border-top-right-radius: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.segment-img .seg-name {
    margin-bottom: -12px;
    padding-left: 0;
}

.segment-item .seg-name li {
    display: inline-block;
    text-align: center;
    background: var(--primary-color);
}

.segment-item .seg-name li p{
    margin-bottom: 0;
    padding: 10px;
}

.seg-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 34px 30px 35px;
}

.seg-details h3 {
    margin-top: 7px;
}

.slick-next:before, .slick-prev:before {
    font-size: 100px;
    color: #000;
}

.slick-prev::before {
    content: "‹";
}

.slick-next::before {
    content: "›";
}

.slick-dots li button {
    background: #4682b400;
}


.slick-dots li button:before {
    font-size: 16px;
    color: var(--primary-color);
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--primary-color);
}
