.mark{
    color: #fff;
    background-color: #2E303C !important;
}

.achieve-text::before, .achieve-text::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: -2px;
    display: inline-block;
    border: 4px solid transparent;
    width: 170px;
    height: 80px;
    z-index: 1;
    border-right-color: #7e7e7e ;
    border-bottom-color: #7e7e7e;
}


