.grain-bg {
    background: url(../../img/grain.png) repeat;
}

.header-bg {
    background-color: var(--main-color);
}

.logo {
    position: absolute;
    left: 41%;
    top: 10px;
	z-index: 99;
}

.logo a img {
	transition: 0.3s ease-out;
}

.logo a img:hover {
    transform: translateY(10px);
}

#ribbon{
	position: absolute;
	top: 0px;
	width: 90px;
	height: 135px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 9999;
	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}

#ribbon.top{
	top: 0px;
}
#ribbon.left{
	left: 0;
}
#ribbon.right{
	left: 0;
}

#ribbon a{
	/* position: fixed; */
	top: 0;
	left: 0;
	display: block;
	width: 90px;
	height: 90px;
	background-repeat: no-repeat;
	background-size: 90px 90px;
    z-index: 9999;
}

#ribbon.nominee.black.right a{
	background-image: url(../../img/ribbonnsuac.png);
}

#navigation {
	opacity: 1;
	transition: left 0.3s ease-in-out;
	width: 100%;
    height: auto;
    position: fixed;
    z-index: 99;
 }
 
 #navigation > ul > li {
	 width: 75%;
	 margin: 0 auto;
	 font-size: 25px;
	 margin-top: 25px;
	 text-align: left;
	 transition: all .15s ease;
	 border-bottom: 1px solid #aebaf8;
 }

#navigation > ul > li:after {
    content: "";
	position: relative;
	top: 25px;
    display: block;
	width: 0%;
    height: 1px;
    background-color: var(--complement-color);
    transition: width .2s ease,right .2s ease;
}

#navigation ul li:hover:after {
    width: 100%;
}

 #navigation > ul > li:last-child {
	padding-top: 10px;
	font-size: 1rem;
	border-bottom: none;
}

#navigation > ul > li:last-child:hover:after {
    width: 0%;
}
   
 #navigation > ul > li > a {
	color: var(--hero-strip);
	cursor: pointer;
 }
 
 #navigation ul li a:hover {
	color: white;
	z-index: 1;
 }

 /* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: .5px;
    }
    50% {
      width: 100%;
      height: 1.5px;
    }
    100% {
      width: 100%;
      height: 1.5px;
      background: #333;
    }
}
  
#menu {
    width: 100px;
    height: calc(100% - 70px);
    border: dotted 2px;
    display: block;
    align-items: flex-end;
    justify-content: space-around;
}

rect {
    fill: var(--complement-color);
    transition: transform 0.3s ease;
}

.top {
    transform: translateX(17px) rotate(45deg) translateY(-6px);
    transition: transform 0.3s ease;
}

.middle {
    transform: scale(0);
    transition: transform 0.3s ease;
}

.bottom {
    transform: rotate(-45deg) translateX(-2.5rem) translateY(-6px);
    transition: transform 0.3s ease;
}

#hamburger {
    margin-left: 2%;
    border: none;
    position: absolute;
    z-index: 9999;
	background-color: transparent;
	position: fixed;
}

#hamburger:hover {
	cursor: pointer;
}

#hamburger > p {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.backgrounColorToggle svg rect {
    fill: var(--complement-color);
}

.backgrounColorToggle svg .bottom {
    y: 60 !important;
}

.menuToggle {
	display: block;
	width: 180px;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 1;
}
  
.menu {
	height: 1080px;
    width: 500px;
	background-color: var(--hero-strip);
	position: absolute;
	top: 0px;
	left: -1010px;
}

#navigation .show {
	/* background-color: var(--main-color); */
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 11.25rem;
    transition: left .4s ease-in-out;
	border-right: 2px solid var(--complement-color);
	background: #00000099;
    box-shadow: 0px 3px 6px #0000001a;
    backdrop-filter: blur(5px);
	/* max-height: calc(100vh - 2px);
    overflow-y: auto; */
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .menu {
        width: 75vw;
    }

	.logo {
		position: absolute;
		left: 0;
		z-index: 999;
	}

	.logo a img {
		width: 65%;
	}

	#hamburger {
		right: 5%;
	}

	#navigation {
		z-index: 9999;
	}

	#navigation .show {
        padding-top: 100px;
    }

    #navigation > ul > li {
		font-size: 1rem;
		width: 80%;
		margin: 0 auto;
		margin-top: 10px;
	}

	.navbar-nav {
		flex-direction: unset;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu {
		width: 400px;
	}

	.logo {
		position: absolute;
		left: -15%;
		z-index: 999;
	}

	#navigation {
		z-index: 9999;
	}

	#navigation .show {
        padding-top: 100px;
    }

    #navigation > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.menu {
		width: 400px;
	}

	.logo {
        position: absolute;
		left: 0%;
		z-index: 999;
    }

	.logo a img {
		width: 90%;
	}

	#navigation {
		z-index: 9999;
	}

	#navigation .show {
        padding-top: 100px;
    }

    #navigation > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo {
		left: 39%;
	}

	.logo a img {
		width: 90%;
	}

	#hamburger {
		margin-left: 1%;
	}

    #navigation .show {
        padding-top: 100px;
    }

    #navigation > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }

	.menu {
		width: 33.125rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1441.98px){
	#navigation .show {
        padding-top: 100px;
    }

    #navigation > ul > li {
        width: 75%;
        margin: 0 auto;
        margin-top: 10px;
    }
}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1442px) {
    
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 31.25rem and below) *******/
@media (max-width: 31.25rem) {
	.backgrounColorToggle {
        margin-left: 18% !important;
    }

	#navigation > ul > li:first-child {
		font-size: 12px;
	}

	#navigation > ul > li:last-child {
		font-size: 12px;
	}
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	#navigation > ul > li:first-child {
		font-size: 13px;
	}

	#navigation > ul > li:last-child {
		font-size: 13px;
	}
}
