.footer {
    padding: 3.125rem 0;
    position: relative;
}

.call-to-act a i{
    font-size: 2.5rem;
    color: var(--primary-color);
    transition: 200ms ease-in-out;
}

.call-icon a{
    background: transparent;
    margin: 0 15px;
    padding: 0;
    border-radius: 10px;
}

.roles {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 5rem;
}

.roles-details {
    flex: 1 0 auto;
}

.roles-details ul li a{
    width: 100%;
    display: inline-block;
    line-height: 2rem;
    color: hsla(0,0%,100%,.75);
    text-decoration: none;
    transition: color .2s ease;
}

.roles-details ul li a:hover{
    color: wheat;
}

.footer-rights {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-rights-link ul {
    display: inline-flex;
}

.footer-rights-link ul li {
    position: relative;
    padding: 0 .4rem;
}

.footer-rights-link ul li a:hover{
    color: wheat !important;
}

.footer:after {
    position: absolute;
    z-index: 999;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    background: linear-gradient(90deg, #c973ff 0%, #aebaf8 95%);
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.roles {
        display: inline-block;
    }

    .roles-details {
        width: 50%;
        display: inline-grid;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-rights {
        display: inline-block;
        padding-top: 1.875rem;
        text-align: center;
    }

    .footer-rights-link ul {
        display: inline-block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .roles {
        display: inline-block;
    }

    .roles-details {
        width: 33%;
        display: inline-grid;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-rights {
        display: inline-block;
        padding-top: 1.875rem;
        text-align: center;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .roles {
        display: inline-block;
    }

    .roles-details {
        width: 33%;
        display: inline-grid;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-rights {
        display: inline-block;
        padding-top: 1.875rem;
        text-align: center;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 152rem) and (max-width: 2499.99px) {
  
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 31.25rem and below) *******/
@media (max-width: 31.25rem) {
	
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}