.sponsor img{
    transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-in;
    transition: transform .3s ease-in, -webkit-transform .8s ease-in;
}

.sponsor img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sponsor img {
    width: 50%;
    height: auto;
}

.sp-polar img {
    width: 55%;
}

.sp-dhoni img {
    width: 66%;
}

.t-spon img{
    width: 50%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.t-spon img {
        width: 80%;
    }

    .sponsor img {
        width: 60%;
    }

    .sp-polar img {
        width: 50%;
    }

    .sp-dhoni img {
        width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.sponsor img {
        width: 80%;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.sponsor img {
        width: 65%;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 152rem) and (max-width: 2499.99px) {
  
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 31.25rem and below) *******/
@media (max-width: 31.25rem) {
	
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}