body {
	font-family: 'Poppins', sans-serif !important;
	color: #fff !important;
}

ul{
	margin: 0;
	padding:0;
	list-style: none;
}
a{
	margin:0;
	text-decoration: none;
}
a:hover{
	text-decoration:none !important;
}

a, select , input , textarea , button{
	outline: none !important;
}

.c_custom{
    max-width: 1700px !important;
}

/* colors */
.c-tag-1{
    color: #2E303C;
}

.c-tag-2{
    color: #fff;
}

.c-tag-3{
    color: #7e7e7e !important;
}

/* fonts */
.lit-16{
    font-size: 16px;
    font-weight: 300;
}

.lit-18{
    font-size: 18px;
    font-weight: 300;
}

.lit-20{
    font-size: 20px;
    font-weight: 300;
}

.lit-32{
    font-size: 32px;
    font-weight: 300;
}

.medi-20{
    font-size: 20px;
    font-weight: 500;
}

.medi-40{
    font-size: 40px;
    font-weight: 500;
}

.medi-50{
    font-size: 50px;
    font-weight: 500;
}

.bold-140{
    font-family: 'Righteous', cursive;
    font-size: 140px;
    font-weight: 700;
}

.App {
}

.pt-150{
	padding-top: 150px;
}

.pt-200{
	padding-top: 200px;
}

.pt-300{
	padding-top: 300px;
}

.pb-50{
	padding-bottom: 50px;
}

.pb-200{
	padding-bottom: 200px;
}

.mt-200{
	margin-top: 200px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-150 {
    margin-top: 150px;
}

.call-to-act a{
    position: relative;
    color: #fff;
    text-decoration: none;
    border-color: #502DF9;
    background-color: #502DF9;
    background: #502DF9;
    /* background: linear-gradient(90deg, #c973ff 0%, #aebaf8 95%); */
    padding: 1rem 3rem;
}

.call-to-act a:hover{
    color: #fff;
    text-decoration: none;
}

.call-to-act a::before, .call-to-act a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: -2px;
    display: inline-block;
    border: 4px solid transparent;
    width: 10px;
    height: 10px;
    z-index: 1;
    border-right-color: #F7C514;
    border-bottom-color: #F7C514;
    transition: 0.2s 0.4s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s border-top-color;
}

.call-to-act a:hover::before, .call-to-act a:hover::after {
    border-right-color: #F7C514;
    border-bottom-color: #F7C514;
    border-left-color: #F7C514;
    border-top-color: #F7C514;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    transition: 0.2s width, 0.2s 0.2s height, 0.2s 0.2s border-left, 0.2s 0.4s border-top-color;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.pt-300 {
		padding-top: 200px;
	}

    .mt-150 {
        margin-top: 50px;
    }

	.bold-140{
		font-size: 40px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.pt-300 {
		padding-top: 200px;
	}

	.bold-140{
        font-size: 62px;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.pt-300 {
		padding-top: 150px;
	}

	.bold-140{
        font-size: 62px;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1299.98px) {
    .bold-140{
        font-size: 84px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) and (max-width: 1531.98px){
    .bold-140{
        font-size: 138px;
    }
    
    .lit-32{
        font-size: 30px;
    }
}
  
/* Extra large devices (large desktops, 1442px and up) */
@media (min-width: 1532px) and (max-width: 2499.99px) {
  
}

/* Extra large devices (large desktops, 1900px and up) */
@media (min-width: 2500px) {
	
}

  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	
}

